.bd-container {
  /* background-color: #c7ffe1c5; */
  width: 100%;
  box-sizing: border-box;
}

.bd-card-container {
  box-sizing: border-box;
  width: 340px;
  height: fit-content;
  padding: 25px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  h3 {
    margin-bottom: 20px;
    color: #474747;
  }

  h6 {
    color: rgba(67, 67, 67, 0.5);
  }

  p {
    margin-bottom: 15px;
    font-family: "Afacad";
    font-size: 1.2em;
    border: none;
    outline: none;
    padding: 0;
  }

  .bd-card-container-content {
    padding: 0 10px;
  }

  .no-margin {
    margin: 0;
  }

  .space-between {
    justify-content: space-between;
  }
}

.price-break {
  color: #a1a1a1;
  font-size: 0.9em;
  border-bottom: 1px solid #a1a1a15f;
  margin-bottom: 20px;

  p {
    padding: 10px 0;
    margin-bottom: 0px;
  }

  span {
    font-size: 0.65em;
  }
}
.last-item {
  margin-bottom: 0;
  border: none;
}
.stretch-class {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transaction-detail {
  padding: 5px 0;
  p {
    color: #a1a1a1;
  }
  span {
    color: #1ec88a;
  }
}

.bd-cancellation {
  box-sizing: border-box;
  width: 340px;
  height: 200px;
  padding: 17px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  h3 {
    margin-bottom: 10px;
  }
  span {
    color: #a1a1a1;
    font-size: 0.85em;
  }
}
.cancel-card {
  position: relative;
  height: 185px;

  .cpd-design {
    padding: 10px 0;

    position: absolute;
    left: 0;
    top: 80px;

    #title {
      color: var(--bluish, #0c89e4);
    }
  }

  .cancel-btn {
    background-color: white;
    border: none;
    outline: none;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    font-family: "Afacad", sans-serif;
    font-size: 1.2em;
    color: var(--bluish, #0c89e4);
    padding: 17px;

    position: absolute;
    left: 0;
    top: 120px;
  }
}

.booking-detail-page-footer {
  margin-top: 150px;
}

.bd-top-section {
  background-color: #c7ffe1;
  border-radius: 0 0 20px 20px;
  height: 300px;
  margin-bottom: 100px; /*the top section ends at margin-bottom = 70px     (as i have placed everything absolutely in this section so the actual top section ends at that location)*/
  position: relative;

  .bd-close-btn {
    position: absolute;
    right: 20px;
    top: 20px;

    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    background-color: transparent;

    img {
      width: 30px;
    }
  }

  .successfulBanner {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;

    text-align: center;

    h3 {
      font-size: 1.4em;
      color: #474747;
    }
    p {
      color: #47474761;
      font-weight: bold;
    }
  }

  .bd-share-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    right: 10%;
    top: 45%;

    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    background-color: transparent;

    img {
      width: 20px;
      opacity: 100%;
    }
  }

  .booking-banner {
    position: absolute;
    transform: translate(-50%, 50%);
    bottom: 5%;
    left: 50%;

    width: 90%;
    max-width: 360px;
    height: 170px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);

    padding: 20px;
    box-sizing: border-box;

    justify-content: space-between;

    .banner-top {
      width: 100%;
      justify-content: space-between;

      .time-detail {
        width: 115px;
        justify-content: space-between;
        font-weight: bold;

        span {
          font-size: 2.7em;
          letter-spacing: -3px;
        }
        p {
          line-height: 17px;
        }
        .lighter-text {
          color: var(--greyish, #434343);
        }
      }

      .dotted-line {
        border-bottom: 2px dotted var(--greyish);
        width: 47px;
      }
      .duration-line {
        position: relative;

        p {
          position: absolute;
          top: 50%;
          left: 25%;
          transform: translateY(-60%);

          font-size: 0.6em;
          background-color: white;
          color: var(--greyish);
          padding: 0 2px;
          letter-spacing: 0;
        }
      }
    }

    .banner-bottom {
      width: 100%;
      justify-content: space-between;
      /* padding: 10px 0; */

      p {
        font-weight: bold;
        color: var(--greyish);
      }
    }
  }
}

.bd-body {
  /* background-color: rgba(255, 75, 75, 0.688); */
  box-sizing: border-box;
  width: 100%;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.bd-pickup-location {
  font-size: 1.1em;
  font-weight: bold;

  span {
    color: var(--bluish);
    white-space: nowrap; /* Prevents line break inside the span */
  }
  img {
    width: 17px;
    margin-right: 5px;
  }

  a {
    text-decoration: none;
  }
}
